<div class="blog-cover" style="background-image:url({{ site.baseurl }}/images/heraklion.jpg);">
  <section>
    <div class="container">
        <h1>{{ site.name }}</h1>
        {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
    
        
        <a href="https://twitter.com/estatemarket" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
     
        
        <a href="http://facebook.com/pages/EstateMarket/92198381789?ref=hl" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
        
        <a href="/feed.xml" title="RSS Feed">
            <i class="icon icon-rss"></i>
        </a>
    </div>
  </section>
</div>      